

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
 
  color: rgb(110, 215, 212);
  font-family: "Nunito";
  /*background-image: url("/mm2.jpg") ;*/
  /* background-color: rgb(0, 55, 222);
  background-size: 170%; */
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a {
  color:darkorange;
 
  text-decoration: none;
  text-align: center;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: rgb(200, 243, 200);
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}
ul {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
}