
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
 
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* .title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(202, 238, 194);
} */

.title {
  display: flex;
  font-size: 70px;
  font-weight: 1000;
  background-image: linear-gradient(to left, #427278, #95cad3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(218, 210, 227, 0.1),
               3px 4px 4px rgba(171, 166, 176, 0.15),
               4px 6px 4px rgba(147, 211, 153, 0.2),
               5px 8px 4px rgba(179, 147, 211, 0.25);
 
}



.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
  color:rgb(100, 158, 200); 
}

.card {
 /*  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: white; 
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 60%; */

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #d72185;
  border-color: #0070f3;
  background-color: aqua;
}

.card h2 {
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  .grid {
    
    width: 100%;
    flex-direction: column;
    
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}